@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to top,#49a09d,#5f2c82);
    }
    section#login{
        width: 80%;/*vw seria tela*/
        height: 295px;
    }
    section#login>div#imagem{/*colocar as div uma do lado da outra usamos o float*/
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login>div#formulario{
        float: right;
        width: 70%;
    }
    div#formulario>p{
        font-size: 1em;
      }
      form>div.campo{
        background-color: #5f2c82;
        border:1px solid #5f2c82;
        width: 100%;
        display: block;
        height: 40px;
        border-radius: 8px;
        margin: 5px 0px;
      
      
      }
}

@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to top,#49a09d,#5f2c82);
    }

    section#login{
        width: 940px;
        height: 350px;

    }
    section#login>div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login>div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario>h1{
        font-size: 1.2em;
    }
    div#formulario>p{
        font-size: 1.2em;
        margin:10px 0px ;
      }
      div.campo>input{
        background-color:#93eeeb ;
        font-size: 1em;
        width:calc(100% -42px) ;
        width: 378px;
        height: 100%;
        transform:translateY(-10px);
        border: 0px;
        border-radius: 8px;
        padding: 1px;
        margin: 10px;
      }
      form>div.campo{
        background-color: #5f2c82;
        border:1px solid #5f2c82;
        width: 100%;
        display: block;
        height: 40px;
        border-radius: 8px;
        margin: 5px 0px;
      
      
      }
}
